.header {
    display: flex;
    align-items: center;
}

.header__logo {
    font-size: 36px;
    white-space: nowrap;
}

.nav_pos {
    margin-left: 100px;
}

.nav__link {
    text-decoration: none;
    color: #588930;
    margin: 0 30px;
    font-size: 22px;
}