@import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil:wght@400;700&display=swap');

body {
    background: #333030;
    color: #F3FFFF;
    font-family: 'Stardos Stencil', cursive;
}

.main {
    width: 80%;
    margin: 10px auto;
}

.bottom-part {
    margin-top: 20px;
}

@media (max-width: 1240px) {
    .main {
        width: 99%;
    }
}