.movie-list {
  background-color: #FFFFFF;
  width: 100%;
  padding-left: 33px;
}

@media (max-width: 1024px) {
  .movie-list {
    padding-left: 32px;
  }
}

@media (max-width: 768px) {
  .movie-list {
    padding-left: 10px;
  }
}