@keyframes ldio {
    0% {
        background: #588930;
        opacity: 1
    }

    8% {
        background: #588930;
        opacity: .5
    }

    10% {
        background: #000000;
        opacity: .05
    }

    100% {
        background: #000000
    }
}

.ldio div {
    position: absolute;
    width: 30px;
    height: 30px;
    background: #000000;
    animation: ldio 1s linear infinite;
    border-radius: 8px;
}

.loadingio-spinner-blocks {
    width: 177px;
    height: 177px;
    display: inline-block;
    overflow: hidden;
    background: none;
}

.ldio {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}

.ldio div {
    box-sizing: content-box;
}

.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}