.detail {
    flex-basis: 58%;
    background: #474444;
    border-radius: 5px;
    display: flex;
    height: 300px;
}

.detail__pic {
    min-width: 180px;
    max-width: 230px;
    flex-basis: 45%;
    height: 230px;
    border-radius: 10px;
    margin: 20px;
}

.detail__info-block {
    flex-basis: 55%;
}

.detail__info-title {
    font-size: 25px;
    letter-spacing: 3px;
    text-align: center;
}

.detail__info-detals-list {
    padding: 0;
    margin: 0;
}

.detail__info-details-item {
    text-align: center;
    list-style-type: none;
    font-size: 18px;
    margin: 10px 0;
    padding-top: 10px;
    border-top: 3px solid #3B3E3B;
    letter-spacing: 3px;
}