.detail {
    flex-basis: 68%;
    background: #474444;
    border-radius: 5px;
    display: flex;
    align-items: center;
    min-height: 450px;
}

.detail__pic {
    max-width: 270px;
    min-width: 250px;
    flex-basis: 45%;
    height: 320px;
    border-radius: 10px;
    margin: 20px;
}

.detail__info-block {
    flex-basis: 55%;
}

.detail__info-title {
    font-size: 25px;
    letter-spacing: 3px;
    text-align: center;
}

.detail__info-detals-list {
    padding: 0;
    margin: 0;
}

.detail__info-details-item {
    text-align: center;
    list-style-type: none;
    font-size: 18px;
    margin: 10px 0;
    padding-top: 10px;
    border-top: 3px solid #3B3E3B;
    letter-spacing: 3px;
}

@media (max-width: 1024px) {
    .detail {
        flex-flow: column;
    }
}

@media (max-width: 780px) {
    .detail__pic {
        max-width: 200px;
        min-width: 0;
        max-height: 250px;
        margin: 10px;
    }
}

@media (max-width: 470px) {
    .detail {
        margin-top: 15px;
    }
}