@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@400;700&display=swap');

body {
    background: #9FD0D0;
    font-family: 'Grandstander', cursive;
    box-sizing: border-box;
}

.main {
    width: 40%;
    margin: auto;
}

@media (max-width: 1980px) {
    .main {
        width: 50%;
    }
}

@media (max-width: 1600px) {
    .main {
        width: 70%;
    }
}

@media (max-width: 1240px) {
    .main {
        width: 90%;
    }
}

@media (max-width: 780px) {
    .main {
        width: 98%;
    }
}