body {
    margin: 0;
    background-color: #e5e5e5 !important;
    font-family: 'Inter' !important;
    box-sizing: border-box;
}

/* antd style ================================================================ */

.ant-spin {
    margin: auto !important;
}

.ant-spin-text {
    margin-top: 15px;
}

.ant-pagination {
    margin-top: 25px !important;
    width: 100%;
    display: flex;
    justify-content: center;
}

.ant-pagination-item-active a {
    background-color: #1890ff;
    color: #ffffff !important;
    border-radius: 3px;
}

.ant-pagination-item {
    border: none !important;
}

@media (max-width: 420px) {
    .ant-alert {
        padding: 10px 0;
    }

    .ant-alert svg {
        display: none;
    }
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-Regular.woff2') format('woff2');
    src: url('./assets/fonts/Inter-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
