body {
    margin: 0;
    background-color: #e5e5e5 !important;
    font-family: 'Inter' !important;
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-Regular.woff2') format('woff2');
    src: url('./assets/fonts/Inter-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
