.gender {
    display: flex;
}

.gender__text {
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.65);
    background: #fafafa;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 2px;
    margin-right: 8px;
    padding: 2px 3px;
}
