.unit-page {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 470px) {
    .unit-page {
        flex-flow: column;
        max-width: 100%;
        margin: 10px auto;
    }
}